{% extends 'bikeserv/base.html'%}
{% load static %}

{% block content %}
    <main>
        <div class="text">
            <div class="div_1">
                <h1>¡Mobike te acerca a tu lugar de destino!</h1>
                <p>
                    Miles de bicicletas disponibles a tu alrededor. 
                    ¡Finaliza el recorrido en cualquier estacionamiento 
                    para bicicletas que esté cerca de tu lugar de destino!
                </p>
            </div>
            <img src="{% static 'img/cel-mobike.jpg' %}" alt="app_movil_mobike">
        </div>
        <div class="div_2">
            <div>
                <h1>Una opción sencilla y práctica</h1>
                <p><b>
                    Después de descargar la aplicación y 
                    registrarte, solo escanea el código QR que 
                    figura en la bicicleta y comienza tu recorrido. 
                    ¡Cierra el candado una vez que dejes la bicicleta 
                    en el área de estacionamiento y listo!
                </b>
                </p>
            </div>
        </div>
        <div class="div_3">
        </div>
    </main>
{% endblock %}