{% extends 'bikeserv/base.html'%}
{% load static %}

{% block content %}
    <main>
        <div class="text">
            <div class="div_quienes">
                <h2>¿Quiénes somos?</h2>
                <p> Nuestra visión es ser la fundación de animales en riesgo con mayor impacto del país,
                    generando un cambio efectivo en la conciencia de la sociedad para acabar con el abandono,
                    la humillación y el abuso que sufren millones de animales al día. Educando a través de nuestra 
                    gran red de estudiantes y profesionales, lograremos otorgar la oportunidad de un hogar a los callejeros 
                    de Chile.
                </p>
                </div>
            <div class="div_mision">
                <h2>Nuestra misión</h2>
                <p> Nuestra misión es rescatar animales callejeros en riesgo para otorgarles una rehabilitación física y psicológica, 
                    brindándoles la oportunidad de un hogar y una familia. Mediante una red integrada podemos realizar esterilizaciones, 
                    rescates y adopciones de perros y gatos, logrando concientizar cada día a más personas, quienes se han ido uniendo a 
                    esta labor.
                </p>
            </div>
        </div>
    
    </main>
{% endblock %}