{% extends 'bikeserv/base.html'%}
{% load static %}


{% block content %}

<div class="quienes">   
    <h2>¿Qué es Mobike?</h2>
    <p>Imagina que puedes buscar y dejar una bicicleta 
        en el momento y el lugar que sean más convenientes para 
        ti. Forma parte del mundo Mobike: un servicio de uso compartido 
        de bicicletas que te permite realizar recorridos cortos por la ciudad, 
        en cualquier momento, a cualquier destino que tenga un estacionamiento 
        legal, y que combina la innovación y la tecnología actual de Internet de 
        las cosas (IoT). Mobike es una opción ecológica, ayuda a descongestionar 
        el tránsito y busca continuamente mejorar la calidad de vida en la ciudad.
    </p>

    <h2>Misión de Mobike</h2>
    <p>Mobike ofrece un medio de transporte accesible de uso compartido 
        para realizar recorridos urbanos cortos de manera práctica. Al mismo 
        tiempo, ayuda a descongestionar el tránsito y reducir las emisiones de 
        carbono en la ciudad. Gracias a la combinación de estos objetivos, Mobike 
        mejora la calidad de vida en la ciudad.
    </p>
</div>

<div class="somos-mo">
    <div class="somos-cont">
        <h1>Somos Mobike</h1>
        <h4>Una opción ecológica y sustentable</h4>
    </div>
</div>

<div class="somos-2">

</div>


{% endblock %}